* {
    margin: 0;
    padding: 0;
  	-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

body{
    background-image:url("assets/background.png");
}
#title{
   font-family:'Press Start 2P', cursive;
    font-size:50px;
    margin-top:25px;
    position:absolute;
    margin-left:15px;
   
}
#background{
    border:10px teal groove;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border-radius:5px;
    background:#00B266;
    background: -webkit-linear-gradient(#00B266,  #00293D);
    background: linear-gradient(#00B266  #00293D);
    width:550px;
    height:800px;
}
.main{
    background-color:black;
}

#wordHeader{
    position:relative;
    width:auto;
    height:auto;
    border:10px teal groove;
    margin-left:20px;
    background-color:#008799;
    
}

.outputs{
	height:325px;
	width:325px;
	font-size:30px;
	border:5px yellow groove;
	margin-right:auto;
	margin-left:auto;
	margin-top:200px;
}


.setup{
   position:relative;
}

#gameScreen {
	display:none;
}

#fightSystemButtons {
	display:none;
}

#squareInput {
    display:none;
    border:groove 2.5px black;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    font-family:'Press Start 2P', cursive;
    height:75px;
    width:125px;
    font-size:30px;
    text-align:center;
    
}

#playGameOutputs {
    height:500px;
}

#playerScreenButtons {
    display:none;
}

#output {
    color:white;
    margin-top:20px;
    margin-bottom:5px;
}

#answerButton1 {
    display:none;
}

#answerButton2 {
    display:none;
}

#inventoryButton {
    display:none;
    width:150px;
}

#nextPlayerButton {
    display:none;
}

#boxFullOfStuff{
    width:50px;
    height:50px;
    border:groove 5px black;
    display:none;
}
